# Maven build output
/target/

# Compiled Java classes
*.class

# Logs
*.log

# Eclipse files
.classpath
.project
.settings/

# IntelliJ IDEA files
.idea/
*.iml
*.iws

# VS Code
.vscode/

# Test reports
/surefire-reports/
test-output/

# OS files
.DS_Store
Thumbs.db

# Others
*.tmp
*.swp
