<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SEG Titles Automation Suite">
    <test name="Full Flow">
        <classes>
            <class name="com.seg.titles.base.LoginTest"/>
            <class name="com.seg.titles.base.ScrollPageTest"/>
            <class name="com.seg.titles.base.SortTableTest"/>
            <class name="com.seg.titles.base.FilterTableTest"/>
            <class name="com.seg.titles.base.AllCheckboxFiltersTest"/>
            <class name="com.seg.titles.base.MenuClickTest"/>
            <class name="com.seg.titles.base.TitleDetailsTest"/>
        </classes>
    </test>
</suite>




































































































































































